<!-- dataTest/templates/dataTest/user_list.html -->
<!DOCTYPE html>
<html>
<head>
    <title>User List</title>
    <form method="post" action="{% url 'user_create' %}">
        {% csrf_token %}
        <button type="submit">추가</button>
    </form>
    <style>
        .user-box {
            border: 1px solid #ccc;
            padding: 10px;
            margin: 10px;
        }
    </style>
</head>
<body>
    <h1>User List</h1>

    <a href="{% url 'user_create' %}">추가</a>
    
    {% for user in users %}
    <div class="user-box">
        <h2>User ID: {{ user.id }}</h2>
        <p>Name: {{ user.name }}</p>
        <p>Address: {{ user.address }}</p>
        <p>Phone Number: {{ user.phone_number }}</p>
        <p>Job Position: {{ user.job_position }}</p>
        <p>Age: {{ user.age }}</p>
        <p>Registration Date: {{ user.dateTimeOfPosting }}</p>
        <p>image: {{ user. }}</p>

        <!-- 이미지 표시 -->
        {% if user.image %}
            <img src="{{ user.image.url }}" alt="User Image" width="150">
        {% else %}
            <p>No image available</p>
        {% endif %}

        <form method="post" action="{% url 'user_edit' user.id %}">
            {% csrf_token %}
            <button type="submit">수정</button>
        </form>
    </div>
    {% endfor %}
</body>
</html>