<!-- dataTest/templates/dataTest/user_list.html -->
<!DOCTYPE html>
<html>
<head>
    <title>User List</title>
    <style>
        /* 스타일 추가: 사용자 정보를 각각의 박스로 묶습니다. */
        /* 꺄오오오오오오오옹 */
        .user-box {
            border: 1px solid #ccc;
            padding: 10px;
            margin: 10px;
        }
    </style>
</head>
<body>
    <h1>User List</h1>
    {% for user in users %}
    <div class="user-box">
        <h2>User ID: {{ user.id }}</h2>
        <p>Name: {{ user.name }}</p>
        <p>Address: {{ user.address }}</p>
        <p>Phone Number: {{ user.phone_number }}</p>
        <p>Job Position: {{ user.job_position }}</p>
        <p>Age: {{ user.age }}</p>
        <p>Registration Date: {{ user.dateTimeOfPosting }}</p>

        <form method="post" action="{% url 'user_edit' user.id %}">
            {% csrf_token %}
            <button type="submit">수정</button>
        </form>
    </div>
    {% endfor %}
</body>
</html>